extends ../layout

block content
    h1(class="text-center")= title

    -if(messages.success)
        div(class="alert alert-success")= messages.success

    -if(messages.error)
        div(class="alert alert-error")= messages.error

    div(class="row")
        div(class="col medium col-12")
            h3 New Series
            -if(activeSeries)
                div(class="alert alert-info") Current active series: <b>#{activeSeries.title}</b>
            include partials/add-series-form

    div(class="row")
        div(class="col medium col-12")
            h3 Submitted Requests
            include partials/submitted-requests-table

    script(src="/javascripts/admin.js")