doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/Quartz/dist/css/quartz.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="container")
      block content
