form(action="/admin/series" method="post")
    div(class="form-row")
        label Series Title
        input(class="form-input" type="text" placeholder="Series Title" name="title")

    div(class="form-row")
        label Series description
        textarea(class="form-input" rows="10" placeholder="Series Description" name="description")

    div(id="add-series-form-dates")
        div(class="form-row series-date-field" data-date="1")
            label(class="block-label") Date
            a(class="align-right delete-link" href="javascript:;" onclick="deleteDate(event); return false;") Delete
            input(class="form-input" type="text" placeholder="Enter Date" name="dates[1]")

    div(class="form-row")
        button(class="btn btn-default" onclick="addDate(event); return false;") Add Date
        button(class="btn btn-primary align-right" type="submit") Submit